.mainBanner {
    background-image: linear-gradient(45deg, #0c0209, #67299e);
}

.sliderImgHeight >img{
    height: 400px !important;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;

    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}